.container_project {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_description {
    width: 50%;
    height: 100%;
    padding-top: 64px;
}

.isLeft {
    text-align: left;

    justify-content: right;
    padding-right: 64px;
}

.isRight {
    text-align: right;

    justify-content: left;
    padding-left: 64px;
}

.project_img_container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.project_img_container img {
    display: flex;
    height: 200px;
    width: 300px;
    border: solid 4px black;
    
}

.project_img_container img:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
}