.buttonCategory {
    font-size: 24px;
    color: #FFFFFF;
    background-color: #ffa700 ;
    width: 128px;
    height: 50px;
    margin-bottom: 64px;
    margin-top: 64px;
    cursor: pointer;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  .buttonCategory:hover {
    box-shadow: none;
  }
  