.navegacao {
    justify-content: center;
    align-items: center;

    height: 112px;
    display: flex;
    column-gap: 3rem;
}

.active {
    text-decoration: underline;
}

.pending {
    text-decoration: none;
}

